:root {
    --my-gray-color: #e3e3e3;
    --my-green-color: #62b888;
  }

  /*Styling my div elements*/

  .div-style {
    width: 100%;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


* {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    /* border-color: solid var(--my-green-color);
    border:5px; */
  }
  
  /*Styling the body*/
  
  body {
    color: #f5f3f3;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', cursive;
    color: var(--my-green-color);
  }

  
/*Styling the form element*/
  form {
    display: grid;
    max-width: 500px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 20px;
    border: 2px solid var(--my-gray-color);
    border-radius: 8px;
  }
  

  input {
    width:100%;
    padding: 15px 25px;
    font-size: inherit;
    font-family: inherit;
    border: 2px solid var(--my-gray-color);
    border-radius: 8px;
  }


.addtodo{
  grid-column: span 2;
  align-self: center;
  justify-self: center;
  padding: 10px 25px;
  font-size: inherit;
  font-family: inherit;
  border: 0; 
  border-radius: 8px;
  background-color: var(--my-green-color)
}


.Todolist-container{

  margin: 40px auto;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    border: 2px solid var(--my-gray-color);
    border-radius: 8px;
  
  }

 
